@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel .thumbs{
    text-align: center;
    }
.ban{
    text-align: center;
    padding: 90px;
    background-image: url('./assets/menu/banner3.jpg');
    margin-bottom: 40px;
}
.feat{
    background-image: url('./assets/home/featured.jpg');
    /* background-position: initial; */
    
}
